body {
    background-color: #EDF5E1;
}
h1 {
    font-family: Garamond;
}
p {
    font-family: arial;
}
button {
    background-color: #e1e1e1;
    margin: 1%;
    transition: 0.2s;
	word-break: break-word;
	width: 320px;
    
}
button:hover {
    transform: scale(1.1, 1.1);
}